.gentiva {
	background-color: red;
	font-family: ;
	font-size: ;
	line-height: ;
	border: ;
	border-radius: ;
	padding: ;
}

.parthenon {
	background-color: blue;
	font-family: ;
	font-size: ;
	line-height: ;
	border: ;
	border-radius: ;
	padding: ;
}

.southernHills {
	background-color: green;
	font-family: ;
	font-size: ;
	line-height: ;
	border: ;
	border-radius: ;
	padding: ;
}

.bonSecours {
	background-color: orange;
	font-family: ;
	font-size: ;
	line-height: ;
	border: ;
	border-radius: ;
	padding: ;
}

.woodfin {
	background-color: aqua;
	font-family: ;
	font-size: ;
	line-height: ;
	border: ;
	border-radius: ;
	padding: ;
}

.usaf {
	background-color: lightgrey;
	font-family: ;
	font-size: ;
	line-height: ;
	border: ;
	border-radius: ;
	padding: ;
}